includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    checkModelProperties: true
    checkOctaneCompatibility: true

    ignoreErrors:

    excludePaths:
        - ./*/*/FileToBeExcluded.php
